<div class="container">
 <div class="omb_login">
 	<div class="container-fluid">
	  <h1>Welcome to My First Sinatra App</h1>
	  <p>Please <a href="/login" class="btn btn-default" role="button">Login</a> or <a href="/signup" class="btn btn-primary" role="button">Sign Up</a></p> 
	  <p>Have a lovely Day Banking with Us.</p>           
	</div>
</div>



