<div class="container">
 <div class="omb_login">
 	<div class="container-fluid">
	  <h1>Welcome to AK Micro Finance Bank</h1>
	  <p>Please <a href="/login" class="btn btn-default" role="button">Login</a> or <a href="/signup" class="btn btn-primary" role="button">Sign Up</a></p> 
	            
	</div>
</div>



