<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title || "Bank Application" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple bank application">
    <meta name="author" content="Oduola Akeem">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <style>
    
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">My Bank App</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="well well-lg">
      <%= styled_flash %>
      <%= yield %>
      </div>
      <div class="btn-group">
      <a href="/back" class="btn btn-primary" role="button">Prev</a>
      <a href="/back" class="btn btn-primary" role="button">Next</a>
      </div>
    </div>
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/todo_list.js"></script>
  </body>
</html>